<!DOCTYPE HTML>
<html>
  <head>
    <title>Flask</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.4/jquery.fullPage.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.4/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <div id="fullpage">
      <div class="section active">
        <h1>SEBASTIAN SCHULZ</h1>
        <h5>Python & GIS Developer</h5>
      </div>
      <div class="section">
        <div class="container">
          <div class="row">
          <h3>Python</h3>
            <skills-list :lang="pythonPrefix" :items="python"></skills-list>
          </div>
        </div>
      </div>
      <div class="section">
        Interests
      </div>
      <div class="section">
        Contact
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/components.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/data.js') }}"></script>
  <script>
  var vm = new Vue({
    el: "#fullpage",
    data: {
      python: pythonSkills,
      pythonPrefix: 'py'
    },
    ready: function(){
      var self = this;
      self.python.forEach(function(python){
        var bar = new ProgressBar.Line('#'+self.pythonPrefix+python.id, {
          strokeWidth: 4,
          easing: 'easeInOut',
          duration: 5000,
          color: '#333',
          trailColor: '#eee',
          trailWidth: 1,
          svgStyle: {width: '100%', height: '100%'}
        })
        bar.animate(python.level)
      })
    }
  })
  </script>
</html>